################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.addon
/.addon
/code/obj/Debug/map_parser.csproj.AssemblyReference.cache
