@using System;
@using System.Globalization;
@using System.Text;
@using Sandbox;
@using Sandbox.Internal;
@using Sandbox.UI;
@using Sandbox.Diagnostics;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using System.Text.RegularExpressions;


@namespace MapParser
@inherits Panel

<style>
	
	ExternalMirrorList {
	width:95%;
	height: 30%;
	border-radius: 2px;
    flex-direction: column;
    flex-wrap: nowrap;
	margin:10px;
	box-shadow: 0px 0px 10px 2px rgba(25, 25, 25, 0.9);

	.rowHeader{
		background: linear-gradient(to top, #ffe259, #ffa751);
		width:100%;
		height: 15%;
		flex-direction:row;

		.rowHeader_item{
			width:100%;
			height:100%;
			justify-content:center;
			border-bottom-width:1px;
			border-left-width:1px;
			border-color:black;
			&:nth-child(1) {
				border-left-width: 0px;
			}
		}
	}
	.row{
		overflow:scroll;
		background-color:#afafaf;
		width:100%;
		height: 100%;
		flex-direction:column;
		
		.rowItem{
			width:100%;
			height:18%;
			min-height: 15%;
			justify-content:center;
			border-bottom-width:1px;
			border-color:black;

			&.True
			{
				background: linear-gradient(to bottom, #ff6a6a, #ff1f1f);
				&:hover{
					background: none;
					background-color: #fd4646;
				}
			}
			&.False
			{
				background: linear-gradient(to bottom, #898989, #a4a4a4);
				&:hover{
					background: none;
					background-color: gray;
				}
			}
		}

	}
}
</style>

<div class="rowHeader">
	<div class="rowHeader_item">Mirror List</div>
</div>
<div class="row">
	@if (Manager.MapMirrors.Count() != 0)
	{
		@foreach (var mirror in Manager.MapMirrors)
		{
			<div class="rowItem @(selectedMirror == mirror.Item1)" @onclick=@(async () => await selectRow(mirror.Item1))>@(mirror.Item1)</div>
		}
	}
	@if (Manager.MapMirrors.Count() == 0)
	{
		<div class="rowItem">Not Found</div>
	}
</div>

@code
{
	public string selectedMirror { get; set; }
	public ExternalMapList mapList { get; set; }

	public override void Tick()
	{
		base.Tick();
	}
	protected override int BuildHash()
	{
		return HashCode.Combine(Manager.MapMirrors, selectedMirror, mapList);
	}
	async Task selectRow(string mirror)
	{
		selectedMirror = mirror;

		mapList.maps.Clear();
		mapList.changePage(0);

		var mirrorData = Manager.MapMirrors.Where(x => x.Item1 == mirror).FirstOrDefault();

		if (mirrorData.Item3.Count == 0)
			mirrorData = await initializeMirrorList(mirror);

		foreach (string line in mirrorData.Item3)
			if (!line.Contains("sex") || line.Contains("porn"))
				mapList.maps.Add(line);

		mapList.StateHasChanged();
	}

	async Task<(string, string, List<string>)> initializeMirrorList(string selectedMirror)
	{
		mapList.maps.Add("Loading..");

		var mirrorData = Manager.MapMirrors.Where(x => x.Item1 == selectedMirror).FirstOrDefault();

		var cultureInfo = CultureInfo.CurrentCulture;
		DateTime dt = DateTime.Now;

		DayOfWeek firstDay = cultureInfo.DateTimeFormat.FirstDayOfWeek;
		CalendarWeekRule weekRule = cultureInfo.DateTimeFormat.CalendarWeekRule;
		Calendar cal = cultureInfo.Calendar;
		int week = cal.GetWeekOfYear(dt, weekRule, firstDay);

		// Forcing weekly wipe
		var sanitizedMirror = Util.ReplaceInvalidChars(selectedMirror);
		var path = $"{Manager.downloadPath}/{sanitizedMirror}_{week}_{DateTime.Now.Year}.txt";
		List<string> finalData = new List<string>();
		if (FileSystem.Data.FileExists(path))
			finalData = Util.Decompress<string>(Convert.FromBase64String(FileSystem.Data.ReadAllText(path))).Split(';').ToList();
		else
		{
			foreach (var file in FileSystem.Data.FindFile($"{Manager.downloadPath}", "*.txt"))
				if (file.Contains(sanitizedMirror))
					FileSystem.Data.DeleteFile($"{Manager.downloadPath}{file}");

			var http = new Http(new Uri($"{selectedMirror}maps/"));
			var data = await http.GetBytesAsync();
			var ascii = Encoding.ASCII.GetString(data);

			string pattern = @"href=['""]([^'""]+?)['""]";

			var matches = Regex.Matches(ascii, pattern);

			foreach (Match match in matches)
				if (match.Groups[1].Value.Contains(".bsp"))
					finalData.Add(match.Groups[1].Value.Replace("href=\"","").Replace(".bsp\"",""));

			FileSystem.Data.WriteAllText($"{path}", string.Join(";", Convert.ToBase64String(Util.Compress(string.Join(";", finalData)))));

			http.Dispose();
		}

		mirrorData.Item3 = finalData;
		mapList.maps.Clear();

		return mirrorData;

	}
}
