@using System;
@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Diagnostics;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;


@namespace MapParser
@inherits Panel

<style>
	
	ModelList {
		width:100%;
		height: 100%;
		border-radius: 2px;

		flex-direction: column;
		flex-wrap: nowrap;
		//margin:10px;
		box-shadow: 0px 0px 10px 2px rgba(25, 25, 25, 0.9);
		flex-shrink: 0;

		.rowHeader{
			background: linear-gradient(to top, #ffe259, #ffa751);
			width:100%;
			height: 15%;
			flex-direction:row;
			max-height: 15%;
			min-height: 15%;
			flex-shrink: 0;
			
			.rowHeader_item{
				width:100%;
				height:100%;
				justify-content:center;
				border-bottom-width:1px;
				border-left-width:1px;
				border-color:black;
				&:nth-child(1) {
					border-left-width: 0px;
				}
			}
		}
		.row{
			overflow:scroll;
			background-color: #afafaf;
			width:100%;
			height: 100%;
			flex-direction:column;
			flex-shrink: 0;

			.rowItem{
				width:100%;
				height:15%;
				max-height:15%;
				min-height: 15%;
				justify-content:center;
				border-bottom-width:1px;
				border-color:black;
				flex-shrink: 0;

				&.True
				{
					background: linear-gradient(to bottom, #ff6a6a, #ff1f1f);
					&:hover{
						background: none;
						background-color: #fd4646;
					}
				}
				&.False
				{
					background: linear-gradient(to bottom, #898989, #a4a4a4);
					&:hover{
						background: none;
						background-color: gray;
					}
				}
			}

		}
}
</style>

<div class="rowHeader">
	<div class="rowHeader_item">Models (@MapParser.GoldSrc.Entities.ModelRenderer.ModelCache.Count())</div>
</div>
<div class="row">
	@if (MapParser.GoldSrc.Entities.ModelRenderer.ModelCache.Count() != 0) {
		@foreach (var modelCacheData in MapParser.GoldSrc.Entities.ModelRenderer.ModelCache) // Need concurrentDictionary
		{

			<div class="rowItem @(selectedData.Equals(modelCacheData.Key))" @onclick=@(() => selectRow(modelCacheData.Key, modelCacheData.Value))><div style="width:70%;max-width:70%;min-width:70%;justify-content:center;">@(Util.PathToMapNameWithExtension(modelCacheData.Key))</div></div>
		}
	}
	@if (MapParser.GoldSrc.Entities.ModelRenderer.ModelCache.Count() == 0) {
		<div class="rowItem" style="justify-content:center">Not Cached Model Found</div>
	}
</div>

@code
{
	string selectedData = "";

	public ModelViewer mv;

	public override void Tick()
	{
		base.Tick();
	}
	protected override int BuildHash()
	{
		return HashCode.Combine(selectedData);
	}
	void selectRow(string key, (List<(MapParser.GoldSrc.Entities.ModelRenderer.BufferAttribute<float>[][], MapParser.GoldSrc.Entities.ModelRenderer.BufferAttribute<float>, Texture, List<float[]>)>, GoldSrc.EntityParser.EntityData, List<GoldSrc.EntityParser.EntityData>, MapParser.GoldSrc.Entities.MDLEntity) data) {

		if (Manager.mainMenu != null && (Manager.mainMenu as Menu) != null && (Manager.mainMenu as Menu).modelviewer != null)
			(Manager.mainMenu as Menu).modellist.mv = (Manager.mainMenu as Menu).modelviewer;

		mv.SetModel(ref key, ref data);

		selectedData = key;

	}
}
